.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/*https://www.materialpalette.com/teal/red*/