/*
	1. boîte
	2. bordures
	3. arrière-plan
	4. texte
	5. transformations
	6. transitions
	7. le reste
*/

#placePanel{
    display: inline-block; position: relative; width: 78vw; height: 100vh;
    background-color: #FFFFFF;
}

.place{
	display: inline-block; margin: 1em; padding: .5em; width: 30%; position: relative;
	border-radius: 9px;
	color: #FFFFFF;
	background-color: #727272; box-shadow: -10px 0px 30px #727272;
}

.place .placeName {
	display: block; width: 100%; margin: 0 0.5em auto;
	font-weight: bold; font-size: 1.5em;
	-moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.coords > * {
	display: block; margin: 0 .5rem;
}

.coords > * > *{
	display: inline-block; width: 50%; 
	text-align: center;
}

.coords div:first-child > * {
	font-size: .7em;
}

.ant {
	display: block; margin: 1em 0; padding: .2rem; position: relative;
	border-radius: 5px;
	color: #212121; background-color: #B2DFDB;
	transition: background-color 1s;
}

.ant li {
	margin: 0; padding: .3rem .5em;
}

.ant li:first-child{
	border-radius: 5px 5px 0 0;
}

.ant li > * {
	display: block;
}

.ant li > *:first-child > *:nth-child(2), .ant li > *:nth-child(2) > *:nth-child(2){
	-moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.ant li div > * {
	display: inline-block; margin: 0 .3rem;
}

.ant li div div:first-child{
	font-weight: 600;
}

.ant li div div div:first-child{
	font-weight: normal;
}

.ant .sense > *{
	display: block;
}

.light{
	color: #00796B; background-color: #B2DFDB;
}

.dark{
	color: #727272; background-color: #B2DFDB;
}

.ant.selected{
	background-color: #212121;
}

.ant.updating {
	background-color: #FF5252;
}

.ant-selector {
	position: absolute; top: 3px; right: 3px;
}

.ant.sensorName {
	font-weight: bold;
}

.ant .uninstall {
    text-align: center;
    margin-top: 0.5rem;
}

/* client status */
.client {
	position: relative;
	text-align: center;
	font-weight: 600;
}

.ant.disconnected .client {
	color: #FF5252;
}

.ant.connected .client {
	color: green;
}

.ant.tunnelling .client {
	color: blue;
}


/* sensors status */

.ant .sense div.sensors,  .ant .sense div.settings{
	display: block;
}

.sensors {
	margin: .5rem .5rem;
	font-size: .8em;
}

.settings {
	margin: 0 1rem;
	text-align: center;
}

.wifi.sleeping{
	color: #CCC;
}

.wifi.monitoring {
	color: #888;
}

.wifi.recording {
	color: black;
}

.bluetooth.uninitialized{
	color: #CCC;
}

.bluetooth.initialized {
	color: #888;
}

.bluetooth.recording {
	color: black;
}

.add-ant-button {
	position: relative; margin: 0 auto; width: 70px; border-radius: 10px;
    text-align: center;
}

.place.orphan .name {
	display: block; width: 100%; margin: 0 auto;
	font-weight: bold; font-size: 1.5em;
}


.command-manager {
	position: fixed; padding: .5em; bottom: -6em; height: 5em; width: 100%;
	color: #DDD;
	background-color: #222;
	z-index: 3;
	transition: bottom .5s ease-in-out;
}

.command-manager.open {
	bottom: 0;
}

.command-manager > * {
	margin: 2px;
}

.command-manager input {
	color: black;
}

.clear {
	display: inline;
	color: #FF5252;
}

.low-importance {
	color: #00796B; font-size: small; font-style: italic;
}