/*
	1. boîte
	2. bordures
	3. arrière-plan
	4. texte
	5. transformations
	6. transitions
	7. le reste
*/

#sensorPanel {
	display: inline-block; position: absolute; top: 0; right: 0; width: 22vw; height: 100%;
	background-color: #009688;
	box-shadow: -10px 0px 30px #727272;
}

.sensor{
	display: block; margin: 1em; padding: .2em; position: relative; position: relative;
	color: #212121;
	border-radius: 5px;
	background-color: #B2DFDB;
}

.sensor ul {
	display: inline-block;
}

.sensor li {
	margin: 0 1em;
	text-align: left;
}

.sensor .name{
	font-weight: bold;
	-moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.sensor .sensorSim {
	text-align: left;
	-moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

#sensorPanel .creator ul * {
	display: block;
}

.sensor.orphan {
    color: #FFFFFF;
    background-color: #FF5252;
}

.sensor img{
	display: inline-block; position: absolute; width: 3em; right: 20px; top: 7px;
}

/* Place Selector */

/*.place-picker{
	position: absolute; background-color: white;
	z-index: 3;
}

.place-picker * {
	display: block;
	color: black;
}*/