{
   "server_ip": None,
   "html_token": None,
   "pheromon_port": None,
   "broker_port": None,
   "mqtt_token": None,
   "mqtt_user": None,
   "cmd_token": None,
   "pg_user": None,
   "pg_pwd": None,
   "db_name": None
}

