#panel {
	position: fixed; bottom: -45vh; right: 0; left: 0;

	background-color: white; opacity: 0.8;
	height: 50vh;
    
    z-index: 10;
    transition: bottom .5s ease-in-out;
}

#panel.open {
	bottom: 0;
	transition: bottom .5s ease-in-out;
	overflow-x: scroll;
}

#close-button {
	display: block; position: absolute; top: 5px; right: 5px; width: 18px; height: 18px;
	cursor: pointer;
	background-image: url(/Dashboard/images/display.svg);
}	

#panel.open #close-button {
	background-image: url(/Dashboard/images/hide.svg);
}

#panel h1 {
	width: 100%; margin: 0;
	font-size: 1.3em; text-align: center;
}

#panel h2 {
	display: inline-block; margin: .4em 1em;
	font-size: 1em;
}

#detail {
	position: absolute; width: 90%; margin: 0 1em;
	/*right: 0.3em;*/
	margin-top: 1em;
	margin-right: 0px;
}

#span-select{
	padding-top: 40px;
	padding: 10px;
	display: block;
}

div.chart {
	width: 100%; 
	height: 150px;
}

#place-name {
	text-align: center;
	margin-top: 2em;
	font-size: 1em;
}

.place-icon {
	display: inline;
	margin: 0 0.5em;
	font-size: 1em;
}

/* LOGO */

#logo{
	/*position: absolute;*/
	/*bottom: 2em;*/
	margin: 0 auto;
	width: 3em;
}

#logomap{
	position: absolute;
	opacity: 0.9;
	width: 12em;
	bottom: 2em;
	left: 0.5em;
	z-index: 1;
}
